.heroImage {
    position: relative;
    top: 100px;
}

.mainDefault {
    background: linear-gradient(0deg, rgba(98, 147, 204, 0.5), rgba(98, 147, 204, 0.5)),
        url('images/gplaypattern.png');
    background-repeat: repeat;
	.container {
        margin: 0 auto;
        padding: 50px 0;	
	   .content {
            width: 100%;
            padding-top: 150px;
            display: flex;
            flex-direction: column;
            align-items: center;
            .pageSubtitle:before {
                background: $blue;
            }       
            .pageContent {
                padding: 50px 0;
                blockquote {
                    width: 70%;
                    margin: 20px 0 20px 50px;
                    padding: 20px;
                    font-family: 'Prata', serif;
                    border-left: 5px solid darken($blue, 20);
                    background-color: rgba(110, 110, 110, 0.5);
                    align-self: flex-start;
                    p {
                        color: #fff;
                        font-size: 1.2rem;
                        line-height: 2rem;
                    }
                } 
            }
        }
    }
}