.sidebar {
	width: 30%;
	padding-top: 30px;
	ul {
		margin: 0;
		padding: 0;
		li {
			list-style: none;

		}
	}
}

form#searchform {
    display: flex;
    flex-direction: column;
    input#s {
    	padding: 0 10px;
        width: 250px;
        height: 40px;
        color: $gray;
        background-color: rgba(255, 255, 255, 0.1);
        border: 1px solid $gray;
	}
	input.searchsubmit {
	    margin: 20px 0;
	    width: 150px;
	    height: 40px;
	    color: $gray;
	    text-transform: uppercase;
	    background-color: rgba(255, 255, 255, 0.1);
	    border: 1px solid $gray;
	    &:hover {
	        background: $green;
	        color: white;
	        transition: all 0.5s ease;
	    }
	}
}
.widget-title {
	font-family: 'Lato', sans-serif;
	letter-spacing: 0.2rem;
	color: white;
	text-transform: uppercase; 
}

.tagcloud a {
    padding: 10px;
    font-size: 1.2rem;
    border: 1px solid $gray;
    &:hover {
        background: $pink;
        color: white;
        transition: all 0.5s ease;

    }
}

.cat-item a {
	font-family: 'Prata', serif;
	color: white;
	text-transform: lowercase;
	&:hover {
	    color: $blue;
	    transition: all 0.3s ease;
	}
}

.widget_recent_entries li a {
	font-family: 'Prata', serif;
	color: white;
	text-transform: lowercase;
	&:hover {
	    color: $yellow;
	    transition: all 0.5s ease;
	}
}